.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3%;
    width: 100%;
    margin: 0 auto;

    & .card_details {
        height: 14rem;
        opacity: 0;

        & .card_icons {
            display: flex;
            justify-content: end;
            gap: 3%;
            margin-right: 5%;

            & a {
                color: #fff;
            }

            & a:hover {
                color: var(--secondary-color);
            }
        }
    }

    & .card_details:hover {
        transition: all 0.3s ease-in-out;
        opacity: 1;
    }

    & .project_name {
        position: absolute;
        top: 43%;
        line-height: 30px;
        color: white;
        text-align: center;
        letter-spacing: 0.053em;
        width: 100%;

        & h4 {
            font-size: 1.5rem;
        }

        & p {
            font-size: 0.9rem;
            font-weight: 400;
        }
    }

}

.sample_project {
    border-radius: 10px;
    width: 100%;
    height: 14rem;
    margin: 20px 0;
    background: url(./images/Developer.png) center center/cover;
    position: relative;
}

& .sample_project:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 50px 1000px 10px rgba(0, 0, 0, 0.7);
}

.card {
    border-radius: 10px;
    width: 100%;
    height: 14rem;
    margin: 20px 0;
    display: none;
    background: url(./images/Developer.png) center center/cover;
    position: relative;
}

.card:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 50px 1000px 10px rgba(0, 0, 0, 0.7);
}